{% extends "base.html.twig" %}
{% block stylesheets %}<link href="css/QuizGamePage.css" rel="stylesheet">{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
    <div class="container">
        {{ quiz.name }}
        <br>
        <br>
        {{ question.text }}
        <br>
        <br>
        <div class="row">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_errors(form.users) }}
                <div class="col-sm-12">
                    {{ form_label(form.users ) }}
                    {{ form_widget(form.users, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <br>
                    <button type="submit" class="btn btn-default">Jndtnbnm</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}<script src="js/lol.js"></script>{% endblock %}




